/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/

/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772*/
/*Input Border Bottom (Focus): #967343*/


html, body {
  font-family: 'Merriweather', serif;
  /*font-family: 'Roboto', sans-serif;*/
   background-color: #F2F1EA;
   font-weight: normal;
   width: 100%  ;
   margin: 0;
}

header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 60px;
  width: 100%;
  color: #2B2F26;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#aca {
  font-size: 3.3em;
}


.mainAbout {
  margin-top: 78px;
}

.mainAbout p {
  font-size: 1em;
  padding: 5px;
  line-height: 2.5em;

}

.aboutFascilities p {
  font-size: 1em;
  padding: 5px;
  line-height: 2.5em;
}

nav {
  background-color: #FFFFFF;
  display: flex;
  width: 100%;




  /*text-align: center;*/

  /*justify-content: center;*/
}

#logo {
  height: 58%;
}

#logoDiv {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navDiv {
  display: flex;
  align-items: center;
  flex-grow: 2;

}
.navDiv a {
  padding-left: 6%;
  /*padding-right: ;*/
}



.wholeAbout{
}


.mainAbout{
  align-items: center;
  color: #131511;
  padding-left: 155px;
  padding-right: 155px;
}

.aboutBottom{
  align-items: center;
  color: #131511;
  padding-left: 155px;
  padding-right: 155px;
}

H3 {
  font-weight: normal;

}
.birdhouse{
  float: left;
  height: 95px;
  margin: 15px;
}



h1 {
  font-weight: normal;
  text-align: center;
  padding-bottom: 25px;
}

.signUp {
  margin: 0;

}

h2  {
  text-align: center;
}

.imageAbout2{
  height: 200px;
  text-align: center;
  background-image: url(images/optimized/background-3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.shelfInfo {
  float: right;
  width: 150px;
}

.facilities{
  flex-basis: 550px;

}

.shelfImg {
  height: 100px;
  font-size: .5em;

}



.imageText {
  vertical-align: middle;
}

.shelfTxt {
  font-size: .78em;
  line-height: 1.56em;
}

.imageAbout2 > h2 {
  color: white;

}

.quote {
  border-left: 1px solid;

}

table {
  border: 1px solid #131511;
  border-collapse: collapse;
  margin-bottom: 50px
}

th{
  border: 1px solid #131511;
  border-collapse: collapse;
  padding: 15px;
  font-weight: normal

}
td {
  border: 1px solid #131511;
  border-collapse: collapse;
  padding: 15px;
}

.tableName {
  padding-top: 45px;
}

.color{
    background-color: #F2EADD;

}

.homeMain{
  color: #131511;
  padding-left: 155px;
  padding-right: 155px;
}

#homeHeading {
    font-size: 2.8em;
    font-weight: lighter;
}

#homeHeading  h1 {
  margin-bottom: 0;
  margin-top: 100px;
}

#homeSubHeading {
    font-size: 1.3em;
    font-weight: lighter;

}

#homeSubHeading  h2 {
  margin-top: 0
}

.imgWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.prod-pic{
  /*display: flex;*/
}


.homePicTxt {
  background-color: #2b2f26;
  text-align: left;
  padding: 10px;
  color: #F2EADD;
  margin-top: 235px ;
  font-size: 1.1em;

}

#txt1 {
    width: 200px;


}

#txt2 {
    width: 45px;


}

#txt3 {
    width: 87px;

}

#txt4 {
    width: 90px;

}

#txt5 {
  width: 186px;

}

#txt6 {
width: 166px;

}

#txt7  {
    width: 186px;

}



#img1{
/*flex-basis: ;*/
height: 300PX;
margin: 7px;
width: 57%;
background-size: cover;
background-position: center;
background-image: url(images/optimized/product-1.jpg);

}

#img2 {
height: 300PX;
margin: 7px;
width: 18%;
background-size: cover;
background-position: center;
background-image: url(images/optimized/product-2.jpg);
}

#img3 {
background-image: url(images/optimized/product-3.jpg);
height: 300PX;
margin: 7px;
width: 18%;
background-size: cover;
background-position: center;
}

#img4 {
background-image: url(images/optimized/product-4.jpg);
height: 300PX;
margin: 7px;
width: 18%;
background-size: cover;
background-position: center;

}

#img5 {
background-image: url(images/optimized/product-5.jpg);
height: 300PX;
margin: 7px;
width: 18%;
background-size: cover;
background-position: center;
}

#img6 {
background-image: url(images/optimized/product-6.jpg);
height: 300PX;
width: 37.5%;
margin: 7px;
width: ;
background-size: cover;
background-position: center;
}

#img7 {
background-image: url(images/optimized/product-7.jpg);
height: 300PX;
margin: 7px;
width: 18%;
background-size: cover;
background-position: center;
margin-bottom: 15px;
}



.newsLetter {
  background-image: url(images/optimized/background-2.jpg);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formMain {
  background-color: white;
  width: 737px;
  height: 400px;
  justify-content: center;
  align-items: center;

}

.inputDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-weight: lighter;
}

.formMain h1 {
  font-size: 2.2em;
  padding: 0;
  margin-top: 45px;
}

.formMain h2 {
  font-size: 1.33em;
}


input {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 2.45px solid #968772;
    margin-bottom: 25px;
    width: 647px;
    font-size: 1.6em;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: #968772;
  color: white;
  border: none;
  width: 150px;
  height: 67px;
  font-size: 1.6em;
  margin-top: 15px;
}

footer {
  padding: 10px;
  background-color: rgb(48,50,43);
  color: #F2EADD;
  font-size: 1.05em;

}
